<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
	<%= f.label :age %><br />
	<%= f.text_field :age %>
</div>
	<% if @job_type == "0" %>
		<div class="field">
			<%= f.label :enjoyment %><br />
			<label>楽しい<%= f.radio_button :enjoyment, Evaluation::ENJOYMENT.index("楽しい"), :checked=>true %></label>
			<label>楽しくない<%= f.radio_button :enjoyment, Evaluation::ENJOYMENT.index("楽しくない") %></label>
		</div>
		<div class="field">
			<%= f.label :learn %><br />
			<label>学べてる<%= f.radio_button :learn, Evaluation::LEARN.index("学べてる"), :checked=>true %></label>
			<label>学べていない<%= f.radio_button :learn, Evaluation::LEARN.index("学べていない") %></label>
		</div>
		<div class="field">
			<%= f.label :position %><br />
			<label>部下0人<%= f.radio_button :position, Evaluation::POSITION.index("0"), :checked=>true %></label>
			<label>部下1-2人<%= f.radio_button :position, Evaluation::POSITION.index("1-2") %></label>
			<label>部下3-5人<%= f.radio_button :position, Evaluation::POSITION.index("3-5") %></label>
			<label>部下6-10人<%= f.radio_button :position, Evaluation::POSITION.index("6-10") %></label>
			<label>部下11-20人<%= f.radio_button :position, Evaluation::POSITION.index("11-20") %></label>
			<label>部下20人以上<%= f.radio_button :position, Evaluation::POSITION.index("20") %></label>
		</div>
		<div class="field">
			<%= f.label :post %><br />
			<label>営業<%= f.radio_button :post, Evaluation::POST.index("営業"), :checked=>true %></label>
			<label>総務<%= f.radio_button :post, Evaluation::POST.index("総務") %></label>
			<label>経理<%= f.radio_button :post, Evaluation::POST.index("経理") %></label>
			<label>法務<%= f.radio_button :post, Evaluation::POST.index("法務") %></label>
			<label>技術<%= f.radio_button :post, Evaluation::POST.index("技術") %></label>
			<label>その他<%= f.radio_button :post, Evaluation::POST.index("その他") %></label>
		</div>
		<div class="field">
		<%= f.label :income %><br />
			<label>200-300万<%= f.radio_button :income, Evaluation::INCOME.index("200-300") %></label>
			<label>300-350万<%= f.radio_button :income, Evaluation::INCOME.index("300-350") %></label>
			<label>350-400万<%= f.radio_button :income, Evaluation::INCOME.index("350-400"), :checked=>true %></label>
			<label>400-450万<%= f.radio_button :income, Evaluation::INCOME.index("400-450") %></label>
			<label>450-500万<%= f.radio_button :income, Evaluation::INCOME.index("450-500") %></label>
			<label>500-600万<%= f.radio_button :income, Evaluation::INCOME.index("500-600") %></label>
			<label>600-700万<%= f.radio_button :income, Evaluation::INCOME.index("600-700") %></label>
			<label>700万以上<%= f.radio_button :income, Evaluation::INCOME.index("700") %></label>
		</div>
		<div class="field">
			<%= f.label :working_hours %><br />
			<label>8時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("8"), :checked=>true %></label>
			<label>9時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("9") %></label>
			<label>10時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("10") %></label>
			<label>11時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("11") %></label>
			<label>12時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("12") %></label>
			<label>13時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("13") %></label>
			<label>14時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("14") %></label>
			<label>15時間<%= f.radio_button :working_hours, Evaluation::WORKING_HOURS.index("15") %></label>
		</div>
		<div class="field">
			<%= f.label :holiday_days %><br />
			<label>4日<%= f.radio_button :holiday_days, Evaluation::HOLIDAY_DAYS.index("4") %></label>
			<label>6日<%= f.radio_button :holiday_days, Evaluation::HOLIDAY_DAYS.index("6") %></label>
			<label>8日<%= f.radio_button :holiday_days, Evaluation::HOLIDAY_DAYS.index("8"), :checked=>true %></label>
		</div>
		<div class="field">
			<%= f.label :overtime_pay %><br />
			<label>なし<%= f.radio_button :overtime_pay, Evaluation::OVERTIME_PAY.index("なし") %></label>
			<label>40時間以上であり<%= f.radio_button :overtime_pay, Evaluation::OVERTIME_PAY.index("40時間以上であり") %></label>
			<label>常にあり<%= f.radio_button :overtime_pay, Evaluation::OVERTIME_PAY.index("常にあり"), :checked=>true %></label>
		</div>
  <% end %>
  <div class="field">
    <%= f.label :illegality %><br />
    <label>なし<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("なし"), :checked=>true %></label>
    <label>問題にならないレベル<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("問題にならないレベル") %></label>
    <label>問題あり<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("問題あり") %></label>
    <label>危機的水準<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("危機的水準") %></label>
  </div>
  <div class="field">
    <%= f.label :interview_attitude %><br />
    <label>悪い<%= f.radio_button :interview_attitude, Evaluation::INTERVIEW_ATTITUDE.index("悪い") %></label>
    <label>普通<%= f.radio_button :interview_attitude, Evaluation::INTERVIEW_ATTITUDE.index("普通"), :checked=>true %></label>
    <label>良い<%= f.radio_button :interview_attitude, Evaluation::INTERVIEW_ATTITUDE.index("良い") %></label>
  </div>
  <div class="field">
    <%= f.label :resume %><br />
    <label>事前に読んでいない<%= f.radio_button :resume, Evaluation::RESUME.index("事前に読んでいない") %></label>
    <label>読んでる<%= f.radio_button :resume, Evaluation::RESUME.index("読んでる"), :checked=>true %></label>
    <label>よく読んでる<%= f.radio_button :resume, Evaluation::RESUME.index("よく読んでる") %></label>
  </div>
  <div class="field">
    <%= f.label :stress_interview %><br />
    <label>普通の面接<%= f.radio_button :stress_interview, Evaluation::STRESS_INTERVIEW.index("普通の面接"), :checked=>true %></label>
    <label>圧迫面接<%= f.radio_button :stress_interview, Evaluation::STRESS_INTERVIEW.index("圧迫面接") %></label>
  </div>
  <div class="field">
    <%= f.label :sexual_harassment %><br />
    <label>セクハラなし<%= f.radio_button :sexual_harassment, Evaluation::SEXUAL_HARASSMENT.index("なし"), :checked=>true %></label>
    <label>セクハラあり<%= f.radio_button :sexual_harassment, Evaluation::SEXUAL_HARASSMENT.index("あり") %></label>
  </div>
  <div class="field">
    <%= f.label :interviewer_count %><br />
    <label>1回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("1") %></label>
    <label>2回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("2"), :checked=>true %></label>
    <label>3回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("3") %></label>
    <label>4回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("4") %></label>
    <label>5回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("5") %></label>
  </div>
  <div class="field">
    <%= f.label :promise %><br />
    <label>守らない<%= f.radio_button :promise, Evaluation::PROMISE.index("守らない") %></label>
    <label>守る<%= f.radio_button :promise, Evaluation::PROMISE.index("守る"), :checked=>true %></label>
  </div>
  <div class="field">
    <%= f.label :question1 %><br />
    <%= f.text_field :question1 %>
  </div>
  <div class="field">
    <%= f.label :question2 %><br />
    <%= f.text_field :question2 %>
  </div>
  <div class="field">
    <%= f.label :question3 %><br />
    <%= f.text_field :question3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
