<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @evaluation.age %>
</p>

<p>
  <b>Position:</b>
  <%= @evaluation.position %>
</p>

<p>
  <b>Post:</b>
  <%= @evaluation.post %>
</p>

<p>
  <b>Income:</b>
  <%= @evaluation.income %>
</p>

<p>
  <b>Working hours:</b>
  <%= @evaluation.working_hours %>
</p>

<p>
  <b>Holiday days:</b>
  <%= @evaluation.holiday_days %>
</p>

<p>
  <b>Overtime pay:</b>
  <%= @evaluation.overtime_pay %>
</p>

<p>
  <b>Illegality:</b>
  <%= @evaluation.illegality %>
</p>

<p>
  <b>Interview attitude:</b>
  <%= @evaluation.interview_attitude %>
</p>

<p>
  <b>Resume:</b>
  <%= @evaluation.resume %>
</p>

<p>
  <b>Stress interview:</b>
  <%= @evaluation.stress_interview %>
</p>

<p>
  <b>Sexual harassment:</b>
  <%= @evaluation.sexual_harassment %>
</p>

<p>
  <b>Interviewer count:</b>
  <%= @evaluation.interviewer_count %>
</p>

<p>
  <b>Promise:</b>
  <%= @evaluation.promise %>
</p>

<p>
  <b>Question1:</b>
  <%= @evaluation.question1 %>
</p>

<p>
  <b>Question2:</b>
  <%= @evaluation.question2 %>
</p>

<p>
  <b>Question3:</b>
  <%= @evaluation.question3 %>
</p>

<p>
  <b>Job type:</b>
  <%= @evaluation.job_type %>
</p>

<p>
  <b>Deleted:</b>
  <%= @evaluation.deleted %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
