<%= render 'shared/company' ,:comapny => @company %>
<% unless @society_evaluation_cookie.blank? %>
	<% unless @society_evaluation_cookie.include? @company.id.to_s %>
		<%= link_to '社会人評価をする', new_company_society_evaluation_path(@company.id),:class=>'btn large primary' %>
	<% end %>
<% else %>
	<%= link_to '社会人評価をする', new_company_society_evaluation_path(@company.id),:class=>'btn large primary' %>
<% end %>
<% unless @student_evaluation_cookie.blank? %>
	<% unless @student_evaluation_cookie.include? @company.id.to_s %>
		<%= link_to '面接評価をする', new_company_student_evaluation_path(@company.id),:class=>'btn large success' %>
	<% end %>
<% else %>
	<%= link_to '面接評価をする', new_company_student_evaluation_path(@company.id),:class=>'btn large success' %>
<% end %>
<%= link_to 'コメントをする', new_company_comment_path(@company.id),:class=>'btn large info' %>
<ul class="tabs">
	<li>
		<%= link_to '社会人評価', company_society_evaluations_path(@company.id),:class=>'btn default' %>
	</li>
	<li>
		<%= link_to '面接評価', company_student_evaluations_path(@company.id),:class=>'btn default' %>
	</li>
	<li>
		<%= link_to 'コメント', company_comments_path(@company.id),:class=>'btn default' %>
	</li>
</ul>
<h3>コメント</h3>
<% @comments.each do |comment| %>
	<table class="zebra-striped">
		<tr>
			<td>
				<%= comment.name %>
			</td>
		</tr>
		<tr>
			<td>
				<%= simple_format(comment.description) %>
			</td>
		</tr>
	</table>
<% end %>