<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		<table class="zebra-striped">
			<tr>
				<td>
					<%= f.label :age %>
				</td>
				<td>
					<label>20歳未満<%= f.radio_button :age, Evaluation::AGE.index("20歳未満")%></label>
					<label>20-25歳<%= f.radio_button :age, Evaluation::AGE.index("20-25歳"), :checked => true %></label>
					<label>26-30歳<%= f.radio_button :age, Evaluation::AGE.index("26-30歳") %></label>
					<label>31-35歳<%= f.radio_button :age, Evaluation::AGE.index("31-35歳") %></label>
					<label>36-40歳<%= f.radio_button :age, Evaluation::AGE.index("36-40歳") %></label>
					<label>41-45歳<%= f.radio_button :age, Evaluation::AGE.index("41-45歳") %></label>
					<label>46-50歳<%= f.radio_button :age, Evaluation::AGE.index("46-50歳") %></label>
					<label>51-60歳<%= f.radio_button :age, Evaluation::AGE.index("51-60歳") %></label>
					<label>61歳以上<%= f.radio_button :age, Evaluation::AGE.index("61歳以上") %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :illegality %>
				</td>
				<td>
					<label>なし<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("なし"), :checked=>true %></label>
					<label>問題にならないレベル<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("問題にならないレベル") %></label>
					<label>問題あり<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("問題あり") %></label>
					<label>危機的水準<%= f.radio_button :illegality, Evaluation::ILLEGALITY.index("危機的水準") %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :interview_attitude %>
				</td>
				<td>
					<label>悪い<%= f.radio_button :interview_attitude, Evaluation::INTERVIEW_ATTITUDE.index("悪い") %></label>
					<label>普通<%= f.radio_button :interview_attitude, Evaluation::INTERVIEW_ATTITUDE.index("普通"), :checked=>true %></label>
					<label>良い<%= f.radio_button :interview_attitude, Evaluation::INTERVIEW_ATTITUDE.index("良い") %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :resume %>
				</td>
				<td>
					<label>事前に読んでいない<%= f.radio_button :resume, Evaluation::RESUME.index("事前に読んでいない") %></label>
					<label>読んでる<%= f.radio_button :resume, Evaluation::RESUME.index("読んでる"), :checked=>true %></label>
					<label>よく読んでる<%= f.radio_button :resume, Evaluation::RESUME.index("よく読んでる") %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :stress_interview %>
				</td>
				<td>
					<label>普通の面接<%= f.radio_button :stress_interview, Evaluation::STRESS_INTERVIEW.index("普通の面接"), :checked=>true %></label>
					<label>圧迫面接<%= f.radio_button :stress_interview, Evaluation::STRESS_INTERVIEW.index("圧迫面接") %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :sexual_harassment %>
				</td>
				<td>
					<label>セクハラなし<%= f.radio_button :sexual_harassment, Evaluation::SEXUAL_HARASSMENT.index("なし"), :checked=>true %></label>
					<label>セクハラあり<%= f.radio_button :sexual_harassment, Evaluation::SEXUAL_HARASSMENT.index("あり") %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :interviewer_count %>
				</td>
				<td>
					<label>1回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("1回") %></label>
					<label>2回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("2回"), :checked=>true %></label>
					<label>3回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("3回") %></label>
					<label>4回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("4回") %></label>
					<label>5回<%= f.radio_button :interviewer_count, Evaluation::INTERVIEWER_COUNT.index("5回") %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :promise %>
				</td>
				<td>
					<label>守らない<%= f.radio_button :promise, Evaluation::PROMISE.index("守らない") %></label>
					<label>守る<%= f.radio_button :promise, Evaluation::PROMISE.index("守る"), :checked=>true %></label>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :thought %>
				</td>
				<td>
					<%= f.text_area :thought,{:cols => 10, :rows=> 5,:class=>'span15'} %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :question1 %>
				</td>
				<td>
					<%= f.text_field :question1,:class=>'span15' %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :question2 %>
				</td>
				<td>
					<%= f.text_field :question2,:class=>'span15' %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :question3 %>
				</td>
				<td>
					<%= f.text_field :question3,:class=>'span15' %>
				</td>
			</tr>
		</table>
		<input type="hidden" id="student_evaluation_company" name="student_evaluation[company_id]" value=<%= @company_id %> size="30" type="text" />
		<div class="actions">
			<%= f.submit "登録",:class=>'btn primary' %>
		</div>
<% end %>
