<html>
<head>
	<title>ブラック企業DB</title>
	<%= stylesheet_link_tag :all %>
	<%= stylesheet_link_tag 'twitter-bootstrap/bootstrap.css' %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
<div class="header">
	<h1><%= link_to 'ブラック企業DB', root_path %></h1>
</div>
<div class="container">
	<%= yield %>
</div>
<div class="footer">
	<ul>
		<li>Copyright&copy; BlackCompany All Rights Reserved</li>
		<li>連絡先 twitter:@blackcompany_jp</li>
	</ul>
</div>
</body>
</html>