<html>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17182782-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<head>
	<title>【ブラック企業DB】あなたの知りたいブラック企業の口コミサイト</title>
	<%= stylesheet_link_tag :all %>
	<%= stylesheet_link_tag 'twitter-bootstrap/bootstrap.css' %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta name="title" content="【ブラック企業DB】あなたの知りたいブラック企業の口コミサイト" />
<meta name="keywords" content="転職,中途,求人,採用,評判,クチコミ,年収,給与,ブラック,ブラック企業,ブラック企業DB,ブラック企業データベース" />
<meta name="description" content="転職するならブラック企業DBで必ず確認。企業の評判、年収、入社対策、売上・業績の口コミを見て危険な会社には絶対に入らない。" />
</head>
<body>
<div class="header">
	<h1><%= link_to 'ブラック企業DB', root_path %></h1>
</div>
<div class="container">
	<%= yield %>
</div>
<div class="footer">
	<ul>
		<li>Copyright&copy; BlackCompany All Rights Reserved</li>
		<li>連絡先 twitter:@blackcompany_jp</li>
	</ul>
</div>
</body>
</html>